<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo App</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="info">
      {{ currentDate }} &centerdot; {{ tasks.length }} tasks
    </div>
    
    <div class="inputbar">
      <input type="text" placeholder="New Task" v-model="newTask" @keyup.enter="addTask">
      <button @click="addTask"></button>
    </div>

    <div class="filters">
      <button
        class="chip" 
        v-for="filter in filters" 
        @click="chosenFilter = filter"
        :class="{ selected: filter === chosenFilter }"
      >{{ filter }}</button>
    </div>

    <div class="tasklist">
      <div class="task" v-for="(task, index) in filteredTasks" :key="index">
        <span class="circle" @click="toggleComplete(index)" :class="{ active: task.isCompleted }"></span>
        <p class="title" :class="{ completed: task.isCompleted }">{{ task.title }}</p>
        <button class="remove" @click="removeTask(index)">Remove</button>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>