<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo App</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="info">
      {{ today }} &centerdot; {{ tasks.length }} tasks
    </div>
    
    <form @submit.prevent="addTask" class="inputbar">
      <input type="text" placeholder="New Task" v-model="newTask">
      <button><img src="add.svg"></button>
    </form>

    <div class="filters">
      <button
        class="chip" 
        v-for="filter in filters" 
        @click="chosenFilter = filter"
        :class="{ selected: filter === chosenFilter }"
      >{{ filter }}</button>
    </div>

    <div class="tasklist">
      <div class="task" v-for="task in filteredTasks" :key="task.id">
        <button class="circle" :class="{ done: task.done }" @click="toggle(task.id)">
          <img v-if="task.done" src="done.svg">
        </button>
        <p :class="{ light: task.done }">{{ task.title }}</p>
        <button class="remove" @click="removeTask(task.id)">Remove</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>