<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div class="top-area">
      <p>{{ getTaskCount() }} tasks</p>
      <p>{{ getDate() }}</p>
    </div>
    <div class="input-area">
      <input type="text" placeholder="New Task" v-model="newTask" @keyup.enter="addTask">
      <div id="add-button" @click="addTask">&plus;</div>
    </div>
    <div id="task-list">
      <div class="task" v-for="task in tasks" :key="task.id">
        <span class="circle" :class="{active: task.isCompleted}" @click="task.isCompleted = !task.isCompleted"></span>
        <p contenteditable="true" @dblclick="" class="task-title" :class="{completed: task.isCompleted}">{{ task.title }}</p>
        <span class="delete-button" @click="deleteTodo(task.id)">&times;</span>
      </div>
    </div>
    <div id="filters">
      <div class="chip">All</div>
      <div class="chip">Active</div>
      <div class="chip">Completed</div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>