*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --black60: #666666;
  --black28: #B8B8B8;
  --light-green: #43A047;
  --light-green14: #E5F2E5;
  --light-green50: #A0CFA2;
  --dark-green: #388E3C;
}

body{
  font-family: 'Rubik', sans-serif;
  color: #222222;
  background-color: #A5D6A7;
}

#app{
  width: 100%;
  max-width: 480px;
  height: calc(100vh - 20px);
  margin: 10px auto;
  border-radius: 4px;
  background-color: white;
}

.top-area{
  display: flex;
  padding: 16px 16px 0 16px;
  justify-content: space-between;
  font-size: 15px;
  color: var(--black60);
}

.input-area{
  display: flex;
  margin-top: 16px;
}

input{
  flex-grow: 1;
  height: 50px;
  border-radius: 0 25px 25px 0;
  border: none;
  padding: 16px;
  outline: none;
  font-family: 'Rubik';
  font-size: 16px;
  background-color: var(--light-green14);
}
input::placeholder{
  font-size: 15px;
  color: var(--dark-green);
}

#add-button{
  background-color: var(--light-green);
  width: 50px;
  height: 50px;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

#task-list{
  margin-top: 8px;
}

.task{
  height: 60px;
  margin: 0 16px;
  line-height: 60px;
  display: flex;
}

.task-title{
  flex-grow: 1;
}

.delete-button{
  font-size: 24px;
  color: var(--black28);
}

.circle{
  width: 24px;
  height: 24px;
  border: 1px solid var(--black28);
  border-radius: 50%;
  align-self: center;
  margin-right: 16px;
}

.active{
  background-color: var(--light-green50);
  border-color: var(--light-green);
}

.completed{
  color: var(--black60);
}