*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --darkgray: #666666;
  --lightgray: #B8B8B8;
  --darkgreen: #52A656;
  --green: #A0CFA2;
  --lightgreen: #E5F2E5;
}

body{
  font-family: 'Rubik', sans-serif;
  color: #222222;
  background-color: var(--green);
  letter-spacing: 0.25px;
}

#app{
  width: 100%;
  max-width: 480px;
  height: 100vh;
  margin: auto;
  background-color: white;
}

.top-area{
  display: flex;
  padding: 16px 16px 0 16px;
  justify-content: space-between;
  font-size: 15px;
  color: var(--darkgray);
}

.input-area{
  display: flex;
  margin-top: 16px;
}

input{
  flex-grow: 1;
  height: 50px;
  border-radius: 0 25px 25px 0;
  border: none;
  padding: 16px;
  outline: none;
  font-family: 'Rubik';
  font-size: 16px;
  background-color: var(--lightgreen);
}
input::placeholder{
  font-size: 15px;
  letter-spacing: 0.25px;
  color: var(--darkgreen);
}

#add-button{
  background-color: var(--darkgreen);
  width: 50px;
  height: 50px;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  font-size: 36px;
  color: white;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 var(--lightgray);
}

#task-list{
  margin-top: 8px;
}

.task{
  height: 60px;
  margin: 0 16px;
  display: flex;
}

.circle{
  width: 24px;
  height: 24px;
  border: 1px solid var(--lightgray);
  border-radius: 50%;
  align-self: center;
  margin-right: 16px;
  cursor: pointer;
}

.task-title{
  flex-grow: 1;
  margin-right: 16px;
  align-self: center;
  padding: 10px 10px 10px 0;
  outline: none;
}
.task-title:focus{
  color: var(--darkgreen);
}

.delete-button{
  font-size: 26px;
  color: var(--lightgray);
  opacity: 0;
  cursor: pointer;
  align-self: center;
}

.task:hover .delete-button{
  opacity: 1;
}

.active{
  background-color: var(--green);
  border-color: var(--darkgreen);
}

.completed{
  color: var(--lightgray);
}