:root {
  --text-primary: #212121;
  --text-secondary: #666666;
  --accent-primary: #38A169;
  --accent-secondary: #E5F3E9;

  --gray-primary: #BBBBBB;
  --red-primary: #D32F2F;
  --red-secondary: #F9E0E0;
  --background: #276749;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.2px;
  color: var(--text-primary);
  background-color: var(--background);
}

button {
  font: inherit;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

img {
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-primary);
}

#app {
  width: 600px;
  margin: 90px auto;
  background-color: white;
}

.info {
  font-size: 15px;
  text-align: center;
  padding: 16px 0;
  color: var(--text-secondary);
}

.inputbar {
  display: flex;
}

input {
  font: inherit;
  flex-grow: 1;
  height: 50px;
  padding: 24px;
  outline: none;
  border: 1px solid var(--accent-secondary);
  border-radius: 0 25px 25px 0;
  border-left: none;
}

input::placeholder {
  font-size: 15px;
  color: var(--text-secondary);
}

.inputbar button {
  width: 50px;
  height: 50px;
  margin: 0 16px;
  border-radius: 50%;
  background-color: var(--accent-primary);
  box-shadow: 0 1px 4px var(--gray-primary);
}

.filters {
  display: flex;
  justify-content: space-evenly;
  margin: 16px 0 8px 0;
}

.chip {
  width: 130px;
  height: 32px;
  color: var(--text-secondary);
  border: 1px solid var(--accent-secondary);
  border-radius: 20px;
}

.chip:hover {
  background-color: var(--accent-secondary);
}

.selected {
  color: var(--accent-primary);
  background-color: var(--accent-secondary);
}

.tasklist {
  height: 350px;
  overflow-y: scroll;
}

.task {
  padding: 16px;
  display: flex;
  align-items: center;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid var(--gray-primary);
}

.done {
  background-color: var(--accent-primary);
  border: none;
}

.light {
  color: var(--text-secondary);
}

.remove {
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 20px;
  margin-left: auto;
  opacity: 0;
  color: var(--red-primary);
  background-color: var(--red-secondary);
}

.task:hover .remove {
  opacity: 1;
}
